<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewGraverForms_Net.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NewGraverForms_Net.Properties.Settings>
            <setting name="apiKey" serializeAs="String">
                <value>WwB0hlUI5o78N8P7Y815aiyTgN81P5U8</value>
            </setting>
        </NewGraverForms_Net.Properties.Settings>
    </userSettings>
</configuration>